@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
}

.icon--top-text{
  font-family: var(--font-montserrat-extrabold), sans-serif;
}

.icon--bottom-text{
  font-family: var(--font-montserrat-bold), sans-serif;
}

.logo{
  padding: 1rem 1rem 0rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
