@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  
  background: slategrey;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: slategrey;
}

body {
  margin: 0;
  font-family: var(--font-montserrat-regular);
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
}

.icon--top-text{
  font-family: var(--font-montserrat-extrabold), sans-serif;
}

.icon--bottom-text{
  font-family: var(--font-montserrat-bold), sans-serif;
}

.logo{
  padding: 1rem 1rem 0rem;
}

#count--down{
  font-family: var(--font-montserrat-bold), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
